{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block masthead %}
<h2>{% trans "Login" %}</h2>
{% endblock %}

{% block content %}
    <style>
    body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    }
    </style>
<form method="post" action="." class="form-signin">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="large-4 columns">
        {{ form.username.errors }}
        <label for="id_username">{% trans "Email" %}</label>
        {{ form.username }}
    </div>

    <div class="large-4 columns">
        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <div class="fieldWrapper">
        <a href="{% url "auth_password_reset" %}">{% trans "Forgot your password?" %}</a>
        <p>{% trans "New to Shortlist?" %}<a href="{% url "registration_register" %}"> Register</a></p>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>

{% endblock %}
