{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block masthead %}
<h2>{% trans "Registration form" %}</h2>
{% endblock %}

{% block content %}
<form method="post" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.email.label_tag }}
        {{ form.email.errors }}
        {{ form.email }}
        {{ form.password1.label_tag }}
        {{ form.password1.errors }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2.errors }}
        {{ form.password2 }}
    </div>
    <input type="submit" value="{% trans "Register" %}">
</form>
{% endblock %}
