{%extends "base.html" %}

{% block content %}
    <div class="row">
    <div class="span4"></div>
    <div class="span4"><a href="/post_job/" class="btn btn-inverse btn-large btn-block">Post A Job</a></div>
    </div>
    <p><h4>YOUR JOBS:</h4></p>
    <br>
    <table class="table table-condensed">
    <tr>
        <td>Name</td>
        <td>Applicants</td>
        <td>Shortlisted</td>
        <td>Active</td>
        <td>Deactivate</td>
    </tr>
    {% for job in my_jobs %}
    <tr>
        <td><a href="/job/{{ job.id }}/">{{ job.name }}</a></td>
        <td>{{ job.applicants }}</td>
        <td>{{ job.applicants }}</td>
        <td>{{ job.is_active }}</td>
        <td><a href="/post_job/" class="btn btn-small btn-warning">Deactivate</a></td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}
