<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPLICATION</title>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
            padding-top: 15px;
            padding-bottom: 40px;
        }

    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/tagmanager.css" rel="stylesheet">
    <style>
        p{
            font: monospace;
            font-size: 16px;
        }
        input{
            font-size: 16px;
        }
        #job{
            float: right;
            text-align: right;
        }
    </style>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">APPLICATION PAGE</a>
        </div>
    </div>
</div>
<div class="container">
<br>
<br>
<div class="row">
    <div class="span1"></div>
    <div class="span5">
        <form method="POST" action=".">
            {% csrf_token %}
            {%for field in form %}
                {%if field.errors %}
                    <div class="control-group error">

                        <p>{{ field.label }}</p>
                        {{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                {% else %}
                    <div class="control-group">
                        <p>{{ field.label }}</p>
                        {{ field }}
                    </div>
                {% endif %}

            {% endfor %}
            <br>
            <div class="small-2 small-offset-1 columns">
                <button class="btn btn-inverse btn-large" type="submit">Apply</button>
            </div>
        </form>
    </div>
    <div class="span5" id="job"><h3>{{ job.name }}</h3>
    <p>{{ job.description }}</p>
    <p><h5>Skills required:</h5> {{ job.skillset }}</p>
    <p><h5>Academics required:</h5> {{ job.academics }}</p>
    {% if job.age_limit %}<p><h5>Age limit:</h5> {{ job.age_limit }}</p>{% endif %}
    </div>
</div>

</div>
<footer class="footer">[Footer here]</footer>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/tagmanager.js"></script>
<script>
    $('.datepicker').datepicker()
</script>

<script>
    jQuery("#id_skillset").tagsManager();
</script>
<script>
    jQuery("#id_academics").tagsManager();
</script>

</body>
</html>