{% extends "base.html" %}
{% block content %}
    <h3>Job: {{ details.name }}</h3>
    <h4>Application URL: <a href="{{ details.job_url }}">{{ details.job_url }}</a></h4>
    <h5><a href="/{{ job_id }}/shortlisted/">View shortlisted candidates</a></h5>
    <hr>
    <br>
    <div class="row">
        <div class="span2"></div>
        <div class="span2"><form method="POST" action="/skill_filter/{{ job_id }}/">
            {% csrf_token %}
            <button class="btn btn-inverse btn-large" type="submit">skill based filter</button>
        </form></div>
        <div class="span2"><form method="POST" action="/academic_filter/{{ job_id }}/">
            {% csrf_token %}
            <button class="btn btn-inverse btn-large" type="submit">academic filter</button>
        </form></div>
        <div class="span2"><form method="POST" action="/experience_filter/{{ job_id }}/">
            {% csrf_token %}
            <button class="btn btn-inverse btn-large" type="submit">experience filter</button>
        </form></div>
        <div class="span2"><div class="span2"><a href="/best_match/{{ job_id }}/"><button class="btn btn-large">Best match</button></a></div></div>
        <div class="span2"></div>
    </div>


    <h5>APPLICANTS:</h5>
    <table class="table table-condensed">
        <tr>
            <td>Name</td>
            <td>Shortlist</td>
            <td>Filter out</td>
            <td>Skills</td>
            <td>Academics</td>
            <td>Curriculum Vitae</td>
            <td>Cover letter</td>
        </tr>
        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td><form method="POST" action="/{{ job_id }}/{{ candidate.id }}/shortlist/">
                {% csrf_token %}
                <input type="submit" name="shortlist" value="shortlist" />
            </form></td>
            <td><form method="POST" action="/{{ job_id }}/{{ candidate.id }}/filter/">
                {% csrf_token %}
                <input type="submit" name="filter" value="filter" />
            </form></td>
            <td>View Skills
            <div style="display: none">{{ candidate.skillset }}</div>
            </td>
            <td>View Academics
                <div style="display: none">{{ candidate.academics }}</div>
            </td>
            <td>View CV
                <div style="display: none">{{ candidate.academics }}</div>
            </td>
            <td>View Cover letter
                <div style="display: none">{{ candidate.academics }}</div>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}