{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span2"></div>
        <div class="span5">
            <form method="POST" action=".">
                {% csrf_token %}
                {%for field in form %}
                    {%if field.errors %}
                        <div class="control-group error">

                        <p>{{ field.label }}</p>
                        {{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                        </div>
                    {% else %}
                    <div class="control-group">
                    <p>{{ field.label }}</p>
                    {{ field }}
                    </div>
                    {% endif %}

                {% endfor %}
                <br>
                <div class="small-2 small-offset-1 columns">
                    <button class="btn btn-inverse btn-large" type="submit">Post job</button>
                </div>
            </form>
        </div>
        <div class="span2"></div>
    </div>
{% endblock %}