{% extends "base.html" %}
{% block content %}

    <table class="table table-condensed">
        <tr>
            <td>Name</td>
            <td>Details</td>
            <td>Remove</td>
        </tr>
        {% for shortlist in shortlisted %}
            <tr>
                <td>{{ shortlist.name }}</td>
                <td><a href="#">View Details</a></td>
                <td><form method="POST" action="/{{ job_id }}/{{ candidate.id }}/filter/">
                    {% csrf_token %}
                    <input type="submit" name="filter" value="Remove" />
                </form></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}