{% load i18n %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Shortlist</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
            padding-top: 15px;
            padding-bottom: 40px;
        }
        #footer {
            height: 60px;
        }
        #footer {
            background-color: #CDCDCD;
        }

            /* Lastly, apply responsive CSS fixes as necessary */
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/tagmanager.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="masthead">
        <h3 class="muted">Shortlist</h3>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li>{% if user.is_authenticated %}<a href="/admin_panel/">Admin</a>
                        {% else %}
                            <a href="/about/">About</a>
                         {% endif %}
                        </li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        {% if user.is_authenticated %}
                        {% else %}
                        <li><a href="/accounts/register/">Signup</a></li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <form class="navbar-form pull-right" style="margin-left: 550px;" action="/accounts/logout/">
                                <button type="submit" class="btn">Sign out</button>
                            </form>
                        {% else %}
                            <form class="navbar-form pull-right" style="margin-left: 222px;">
                                <input class="span2" type="text" placeholder="Email">
                                <input class="span2" type="password" placeholder="Password">
                                <button type="submit" class="btn">Sign in</button>
                            </form>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar -->
    </div>

{% block content %}


{% endblock %}
</div>
<div id="footer">
    <br>
    <div class="container">
        <p><a href="#">About</a> | <a href="#">Contact us</a> | Website developed by: <a href="#">Aurlus I.</a> </p>
    </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/datepicker.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/tagmanager.js"></script>
<script>
    $('.datepicker').datepicker()
</script>
<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 5000
        });
    });
</script>
<script>
    jQuery("#id_skillset").tagsManager();
</script>
<script>
    jQuery("#id_academics").tagsManager();
</script>
</body>
</html>
