{% extends "base.html" %}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ STATIC_URL }}bootstrap/img/background1.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Welcome to Shortlist</h1>
                        <p class="lead">Our business it to make it easy for you to shortlist applicants for you job.
                            With us, your Shortlisting woes are about to be history.
                        Read more about our services <a href="about">here</a></p>
                        <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}bootstrap/img/background1.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>More than just shortlisting.</h1>
                        <p class="lead">Tired of countless application letters on your desk? We handle the applications for you
                            and you get involved only when you want to Shortlist candidates.</p>
                        <a class="btn btn-large btn-primary" href="/about/">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}bootstrap/img/background1.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Try Shortlist today.</h1>
                        <p class="lead">Register for Shortlist today and simplify your hiring process.</p>
                        <a class="btn btn-large btn-primary" href="/accounts/register/">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

{% endblock %}